@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/quicksand/Quicksand_Bold-webfont.eot');
    src: url('fonts/quicksand/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/Quicksand_Bold-webfont.woff') format('woff'),
         url('fonts/quicksand/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('fonts/quicksand/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandLightOblique';
    src: url('fonts/quicksand/Quicksand_Light_Oblique-webfont.eot');
    src: url('fonts/quicksand/Quicksand_Light_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/Quicksand_Light_Oblique-webfont.woff') format('woff'),
         url('fonts/quicksand/Quicksand_Light_Oblique-webfont.ttf') format('truetype'),
         url('fonts/quicksand/Quicksand_Light_Oblique-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    color: white;
    background-color: #85898F;
}

header {
    display: block;
}

nav {
    display: block;
}

section {
    display: block;
    margin: auto;
    width: 810px;
}

section .text {
    display: inline-block;
    width: 420px;
}

section .image {
    display: inline-block;
    width: 300px;
    margin-top: 50px;
    margin-left: 80px;
    vertical-align: top;
}

footer {
    display: block;
    width: 1036px;
    margin: auto;
    margin-top: 100px;
}

footer p {
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -50px;
}

a {
    text-decoration: none;
    color: #B6E9C0;
}

a.selected {
    color: white;
}

p {
    font-size: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

span.first-word {
    font-size: 26px;
}

#header-wrapper {
    background-color: #4F5461;
    padding-bottom: 40px;
}

#top-header {
    width: 646px;
    margin: auto;
}

#top-nav {
	font-family: 'QuicksandBold';
	font-size: 36px;
    width: 980px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

#top-nav ul li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

#side-nav {
    position: absolute;
    top: 20px;
    left: -220px;
	font-family: 'QuicksandLightOblique';
	font-size: 24px;
    text-transform: uppercase;
    text-align: right;
}

#side-nav a {
    color: white;
}

#gallery {
    width: 730px;
    position: relative;
}

#project img {
    margin-bottom: 40px;
}

#thumbs {
    overflow: hidden;
}

#thumbs ul li {
    display: inline-block;
    margin: 20px;
}

#content {
    width: 1150px;
    margin: auto;
	font-family:Georgia;
}

#galleria {
    width: 100%;
    height: 0px;
    height: 100%;
}

.exit-button {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 10001;
}

.gradient {
      /* fallback */
    background-color: #4F5461;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F5461), to(#85898F));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #4F5461, #85898F);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #4F5461, #85898F);

    /* IE 10 */
    background: -ms-linear-gradient(top, #4F5461, #85898F);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #4F5461, #85898F);
}
