@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/quicksand/Quicksand_Bold-webfont.eot');
    src: url('fonts/quicksand/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/Quicksand_Bold-webfont.woff') format('woff'),
         url('fonts/quicksand/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('fonts/quicksand/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/quicksand/Quicksand_Book-webfont.eot');
    src: url('fonts/quicksand/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/Quicksand_Book-webfont.woff') format('woff'),
         url('fonts/quicksand/Quicksand_Book-webfont.ttf') format('truetype'),
         url('fonts/quicksand/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('fonts/quicksand/Quicksand_Light-webfont.eot');
    src: url('fonts/quicksand/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/Quicksand_Light-webfont.woff') format('woff'),
         url('fonts/quicksand/Quicksand_Light-webfont.ttf') format('truetype'),
         url('fonts/quicksand/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandLightOblique';
    src: url('fonts/quicksand/Quicksand_Light_Oblique-webfont.eot');
    src: url('fonts/quicksand/Quicksand_Light_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/Quicksand_Light_Oblique-webfont.woff') format('woff'),
         url('fonts/quicksand/Quicksand_Light_Oblique-webfont.ttf') format('truetype'),
         url('fonts/quicksand/Quicksand_Light_Oblique-webfont.svg#QuicksandLightOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    color: #4F5461;
    background: white url(../images/arches.png) repeat top left;
}

header {
    display: block;
}

nav {
    display: block;
}

section {
    display: block;
    margin: 30px auto;
    width: 800px;
}

#bottom-footer {
    background-color: #4F5461;
    display: block;
    padding: 15px 0;
    margin-top: 60px;
}

#bottom-footer p {
    font-family: 'QuicksandBold';
    font-size: 12px;
    text-align: center;
    color: white;
    margin: 4px 0;
}

#bottom-footer a {
    color: white;
}

figure,
figcaption {
    display: block;
    margin: 0px;
}

figcaption {
    text-align: center;
    margin-top: 5px;
    width: 200px;
    height: 0px;
}

a {
    text-decoration: none;
    color: #4F5461;
}

a.selected, a:hover, #side-nav a:hover {
    color: #F26B5D;
}

#about p {
    font-family: 'QuicksandBook';
    margin: 0px 0px 15px 0px;
    font-size: 14px;
    line-height: 18px;
    width: 430px;
}

#about img {
   float: right;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

span.first-word {
    font-size: 26px;
}

h1 {
    font-family: 'QuicksandBook';
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    width: 800px;
    margin: auto;
}

#header-wrapper {
    width: 720px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F26B5D;
}

#top-header {
    width: 564px;
    margin: auto;
}

#top-nav {
    font-family: 'QuicksandBook';
    color: #F26B5D;
}

#top-nav {
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 0 20px 30px;
    width: 760px;
    margin: auto;
}

#top-nav ul li {
    display: inline-block;
    min-width: 150px;
    padding: 0 17px;
}

#top-nav a {
    text-align: center;
    display: block;
}

#top-nav a.selected {
    color: #F26B5D;
}

#side-nav {
    font-family: 'QuicksandBook';
    font-size: 18px;
    text-transform: uppercase;
    background-color: #4F5461;
    padding: 20px;
    position: absolute;
    top: 0px;
    left: -80px;
}

#side-nav a {
    color: white;
}

#side-nav li {
    padding: 5px 0;
}

#gallery {
    width: 730px;
    position: relative;
}

#gallery a {
    font-family: 'QuicksandBold';
    font-size: 14px;
    text-transform: uppercase;
    color: #F26B5D;
}

#project img {
    margin-bottom: 40px;
}

#thumbs {
    overflow: hidden;
}

#thumbs ul li {
    display: inline-block;
    margin: 20px;
}

#content {
    position: relative;
    width: 960px;
    margin: auto;
    padding: 10px 0;
    background-color: white;
}

#galleria {
    width: 100%;
    height: 0px;
    height: 100%;
}

#press {
    width: 865px;
}

#press figure img {
    width: 200px;
    height: 200px;
    float: none;
}

#press figcaption {
    margin: 10px 0;
}

#press a {
    font-family: 'QuicksandBold';
    font-size: 11px;
    color: #F26B5D;
}

#press li {
    display: inline-block;
    margin: 10px 0 0 10px;
}

.exit-button {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 10001;
}

.orange-rule {
    border-top: 1px solid #F26B5D;
    width: 100px;
    height: 0px;
    margin: 8px 5px;
    display: inline-block;
}
