h3 {
    color: #D99172;
    text-transform: uppercase;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #928F80;
}

#top-menu {
    text-align: center; 
    font-size: 1.2em;
    text-transform: uppercase;
}

#top-menu .menu-item {
    margin-top: 50px;
}

#top-menu .menu-item a {
    color: #D99172;
    padding: 20px;
}

#top-menu .menu-item a:hover {
    color: white;
    background-color: #D99172;
    text-decoration: none;
}

#statement {
    text-align: center;
}

#statement div {
    margin: 0 0 10px;
}

#statement .line1,
#statement .line2,
#statement .line3 {
    color: #D0B88E;
    text-transform: uppercase;
}

#statement .line1 {
    padding-top: 30px;
    font-size: 4em;
    line-height: 1.1em;
}

#statement .line2,
#statement .line3 {
    font-size: 2.2em;
    line-height: 1em;
    font-style: italic;
}

#statement .line4 {
    color: #C3AD80;
    font-size: 2.2em;
    line-height: 3em;
    text-transform: uppercase;
}

#statement .line5,
#statement .line6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #B7A371;
    font-size: 1.6em;
    line-height: 1em;
    font-style: italic;
}

#statement .line7 {
    padding-top: 30px;
    color: #8B7C5A;
    font-size: 4.6em;
    line-height: 0.7em;
    text-transform: uppercase;
}

#statement .line8 {
    color: #77694A;
    font-size: 2.2em;
    line-height: 1em;
    text-transform: uppercase;
}
