body {
    #background: white url(../img/star-tile.png) repeat;
    font-family: "futura-pt",sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: "futura-pt",sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h4 {
    color: #D0B88E;
}

h3 {
    color: #1E3744;
}

h5 {
    color: #D99172;
}

h1 {
    font-size: 5.2em;
    line-height: 1;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 24pt;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-family: "chaparral-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: #928F80;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

a {
    color: #b7a371;
}

a:hover {
    color: #D0B88E;

}

.logo {
    position: relative;
    margin: auto;
    max-width: 370px;
    min-height: 64px;
}

.logo .logo-catgory,
.logo a.logo-category,
.logo a.logo-category:hover {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0px;
    bottom: -5px;
    text-decoration: none;
    text-transform: none;
    font-family: "chaparral-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    color: #b7a371;
}

.top-menu {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    font-weight: 400;
    margin-bottom: 40px;
}

.top-menu a {
    color: #1E3744;
    padding: 10px;
    display: inline-block;
}

.top-menu-left,
.top-menu-right {
  list-style: none;
}

.top-menu-right {
  text-align: right;
}

.top-menu-left li,
.top-menu-right li {
  display: inline-block;
}

.top-menu-left li a,
.top-menu-right li a {
  display: inline-block;
  padding: 10px;
}

.top-menu-left li+li {
  margin: 10px 0 10px 15px;
}

.top-menu-right li {
  margin-right: 20px;
}

.top-menu-right li+li {
  margin: 10px 20px 10px 0;
}

@media (min-width: 1200px) {

    .top-menu-left li+li {
      margin: 20px 0 20px 80px;
    }

    .top-menu-right li {
      margin-right: 30px;
    }

    .top-menu-right li+li {
      margin: 20px 30px 20px 20px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {

    .top-menu-left {
        margin-left: -10px;
    }

    .top-menu-right li {
      margin-right: 0;
    }

    .top-menu-left li+li,
    .top-menu-right li+li {
      margin: 5px 0;
    }

    .top-menu-left li a,
    .top-menu-right li a {
      padding: 10px 8px;
    }
}

@media (max-width: 767px) {

    .top-menu,
    .top-menu-right {
        text-align: center;
    }

    .top-menu-left li+li {
        margin: 0 0 0 20px;
    }

    .top-menu-right li {
      margin-left: 20px;
    }
}

.top-menu .menu-item a:hover,
.bottom-menu .menu-item a:hover {
    text-decoration: underline;
}

.bottom-menu {
    list-style: none;
    text-align: center;
    font-size: 1.1em;
    color: #8c99a0;
    text-transform: uppercase;
    font-weight: 400;
    margin: 80px 0 20px;
    position: relative;
}

.bottom-menu li {
    display: inline-block;
    margin: 0 10px;
}

.bottom-menu li.menu-social {
    font-size: 1.2em;
    margin: 0 5px;
}

.bottom-menu a {
    color: #8c99a0;
    padding: 10px;
    display: inline-block;
}

#bottom-menu,
#bottom-menu:before,
#bottom-menu:after {
    background-color: #F0EFF1;
}

@media (max-width: 767px) {

    #bottom-menu:before,
    #bottom-menu:after {
        width: 20px;
        height: 100%;
        display: block;
        position: absolute;
        bottom: 0px;
        content: " ";
    }

    #bottom-menu:before {
        left: -20px;
    }

    #bottom-menu:after {
        right: -20px;
    }

}

#portfolio-nav {
    text-align: right;
    text-transform: uppercase;
}

#portfolio-nav a {
    font-weight: normal;
    color: #D99172;
}

#portfolio-nav a.gold {
    color: #D0B88E;
}

.social {
    font-size: 4em;
    color: #1E3744;
}

.social span {
    display: inline-block;
    margin-left: 30px;
    padding: 20px 0;
}

.social a {
    color: #1E3744;
}

.social a:hover {
    color: #D0B88E;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 767px) {

    .social {
        text-align: center;
    }

    .social span {
        margin-left: 0;
    }
}

.carousel .item > img {
    height: 500px;
    margin: auto;
}

@media (min-width: 1200px) {
    .carousel .item > img {
        height: 600px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .carousel .item > img {
        height: 380px;
    }
}

@media (max-width: 767px) {
    .carousel .item > img {
        height: auto;
    }
}

.ribbon-blue {
    background-color: #1e3744;
    color: #ffffff;
    position: relative;
}

.ribbon-blue:before,
.ribbon-blue:after {
    display: block;
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.ribbon-blue:before {
    border-width: 50px 0 50px 10px;
    border-color: transparent transparent transparent #ffffff;
    left: 0;
}

.ribbon-blue:after {
    border-width: 50px 10px 50px 0;
    border-color: transparent #ffffff transparent transparent;
    right: 0;
}

.blue-text {
    color: #1e3744;
}

.blue-text a {
    color: #1e3744;
}

.action-items {
    text-align: right;
    font-style: italic;
    font-weight: 600;
    font-size: 1.2em;
}

@media (min-width: 1200px) {
    .ribbon-blue:before {
        border-width: 30px 0 30px 10px;
    }

    .ribbon-blue:after {
        border-width: 30px 10px 30px 0;
    }
}

@media (max-width: 767px) {
    .ribbon-blue:before,
    .ribbon-blue:after {
        display: none;
    }
}

@media (max-width: 767px) {
    .mobile-full-width {
        margin-left: -20px;
        margin-right: -20px;
        overflow: hidden;
    }
}

.indented {
    margin: 0 40px;
}

@media (min-width: 1200px) {
    .indented {
        margin: 0 50px;
    }
}

@media (max-width: 767px) {
    .indented {
        margin: 0;
    }
}
