body {
    background: white url(../img/star-tile.png) repeat;
    font-family: "futura-pt",sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: "futura-pt",sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
}

h1, h2, h4 {
    color: #D0B88E;
}

h3, h5 {
    color: #D99172;
}

h1 {
    font-size: 5.2em;
    line-height: 0.7em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 2.1em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-family: "chaparral-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    color: #928F80;
}

#top-menu,
#bottom-menu {
    text-align: center; 
    font-size: 1.2em;
    text-transform: uppercase;
}

#top-menu {
    margin-bottom: 40px;
}

#top-menu .menu-item {
    padding-top: 20px;
}

#top-menu .menu-item a {
    color: #D99172;
    padding: 20px;
}

#top-menu .menu-item a:hover {
    color: white;
    background-color: #D99172;
    text-decoration: none;
}

#bottom-menu {
    margin-top: 50px;
    padding: 20px;
}

#bottom-menu .menu-item a {
    color: #B7A371;
    padding: 20px;
}

#bottom-menu .menu-item a:hover {
    text-decoration: none;
}

#statement {
    text-align: center;
}

#statement div {
    margin: 0 0 10px;
}

#statement .line1,
#statement .line2,
#statement .line3 {
    color: #D0B88E;
    text-transform: uppercase;
}

#statement .line1 {
    font-size: 4.4em;
    line-height: 1.1em;
}

#statement .line2,
#statement .line3 {
    font-size: 2.4em;
    line-height: 1em;
    font-style: italic;
}

#statement .line4 {
    color: #C3AD80;
    font-size: 2.5em;
    line-height: 2em;
    text-transform: uppercase;
}

#statement .line5,
#statement .line6 {
    font-family: "chaparral-pro", serif;
    font-weight: 600;
    font-style: italic;
    color: #B7A371;
    font-size: 1.8em;
    line-height: 1em;
    font-style: italic;
}

#statement .line7 {
    padding-top: 25px;
    color: #8B7C5A;
    font-size: 5.2em;
    line-height: 0.7em;
    text-transform: uppercase;
}

#statement .line8 {
    color: #77694A;
    font-size: 2.7em;
    line-height: 1em;
    text-transform: uppercase;
}

#portfolio-nav {
    text-align: right;
}
