---
extends: invitations.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('invitations/silhouette/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/silhouette/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/silhouette/02.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/silhouette/03.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/silhouette/04.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/silhouette/05.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/silhouette/06.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/silhouette/07.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/silhouette/08.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/silhouette/09.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/silhouette/10.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Silhouette</h4>
<p>Die cut silhouettes and a modern type arrangement. You can buy this invitation set <a href="https://www.etsy.com/listing/100564089/silhouette-wedding-invitation-suite?ref=v1_other_2">here</a>.</p>
{% endblock %}
