---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/composters/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/composters/01.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Composters</h4>
<p>A set of posters educating customers about the composting practice of the participating restaurant, and educating the employees of the restaurant about how to compost in a way that was compliant with the program. I handled both the design and the illustration. </p>
{% endblock %}
