---
extends: invitations.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('invitations/graduation/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/graduation/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/graduation/02.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/graduation/03.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/graduation/04.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Graduation Announcements</h4>
<p>I wanted to make something that was modern and fun, just like David, and vaguely referenced computers.  His school colors are red, white, and black, and I added the kraft paper because he always wraps his gifts and makes cards using old grocery bags. I also made the envelopes and printed the liners with a black-on-black pattern, because that's his favorite printing style.  In the end, I wanted something unique and fun, that would mark this very special occasion.</p>
<p><a href="http://ohsobeautifulpaper.com/2010/12/creative-graduation-announcements/">Featured On Oh So Beautiful Paper</a></p>
{% endblock %}
