---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/lia/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/lia/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/lia/02.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/lia/03.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>I Love That Glove</h4>
<p>Website design for a photographer focusing on both weddings and family portraiture. We wanted to keep the design fresh and fun, just like Lia herself!</p>
{% endblock %}
