---
extends: invitations.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('invitations/place-cards/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/place-cards/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/place-cards/02.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/place-cards/03.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/place-cards/04.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Place Cards</h4>
<p>Die cut tent folded place cards offered in a variety of colors. You can purchase your own place cards <a href="https://www.etsy.com/listing/111690604/neon-die-cut-place-cards">here</a>.</p>
{% endblock %}
