---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/2012-cap/00.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-cap/01.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-cap/02.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-cap/03.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-cap/04.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-cap/05.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-cap/06.png') }}"></div>
{% endblock %}

{% block description %}
<h4>2012 Climate Action Plan</h4>
<p>One of three documents I designed for the North Carolina State University Sustainability Office. We wanted a template that could be adapted for future documents, that set itself apart as a Sustainability Office document, but still was compliant with the NCSU brand. </p>
{% endblock %}
