---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/silver-invitations/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/02.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/03.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/04.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/05.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/06.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/07.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/08.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/09.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/10.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/silver-invitations/11.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Silver Invitations</h4>
<p>A more glam invitation featuring foil paper and a simple color palette. You can buy this invitation set <a href="https://www.etsy.com/listing/100564845/radiance-wedding-suite?ref=v1_other_2">here</a>.</p>
{% endblock %}
