---
extends: base.j2
title: ???
description: ???
---

{% block content %}

<div class="container">
    <div id="main" role="main">
        <header>
            {% block nav %}{{ super() }}{% endblock %}
        </header>
    </div>
</div>

<div class="mobile-full-width" style="position: relative;">
    <div style="width: 100%; margin: 0 auto 30px; display: block;">
        <img src="{{ media_url('img/homeimage.jpg') }}">
    </div>
</div>


<div class="container">
    <div class="row mobile-full-width" style="text-align: center;">
        <div class="span10 offset1 ribbon-blue" style="margin-top: 40px; margin-bottom: 20px;">
            <h3 style="padding: 0 20px; color: #ffffff;">One & Only: do what you love</h3>
        </div>
    </div>
    <div class="row">
        <div class="offset2 span4">
            <p class="blue-text">
            I love design. I also love helping small business owners take their businesses to the next level, and lucky for me, those two go hand in hand. A great website can mean the difference between drawing your potential customers in to buy from you, again and again, or watching them bounce away, just like that.
            </p>
            <p class="blue-text">
            <span style="font-weight: 600; font-style: italic;">Are you the right fit for One & Only?</span><br>
            Are you passionate about what you do?<br>
            Do you appreciate the details?<br>
            Are you looking for a design that will blow your mind?
            </p>
        </div>
        <div class="span4">
            <p class="blue-text">
            My number one goal is to get my clients results - come to me with your goal, and I’ll move mountains to make it happen. Using my tried-and-tested methodology, we can pinpoint your unique problems, and out what you really need, and come up with a solution that will make you think I can read minds.
            </p>
            <p class="blue-text">
            Still not sure? Just shoot me an email and we’ll set up a time to chat - no commitment necessary!
            </p>
            <p class="action-items">
                <a href="{{ content_url('pricing') }}">Let’s get started.</a>
            </p>
        </div>
    </div>
</div>

{% block footer %}{{ super() }}{% endblock %}

{% endblock %}
