---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/ottersen/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/02.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/03.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/04.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/05.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/06.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/07.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/08.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/09.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/10.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/11.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/12.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/13.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/14.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/15.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/16.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/17.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/18.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/19.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/20.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/21.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/22.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/23.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/ottersen/24.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Ottersen</h4>
<p>Everything in this wedding suite is handmade. I hand lettered all of the text and edge painted the programs. We used bright accents, like hot pink envelopes lined with patterned paper and bright orange vellum response envelopes.</p>
<p>I also wanted to include watercolor elements, so I painted the lettering on the RSVP. I also did watercolor washes on the ceremony programs and each individual element of the invitation suite.</p>
<p><a href="http://ohsobeautifulpaper.com/2012/10/sarah-ryans-bright-hand-lettered-wedding-invitations/">Featured On Oh So Beautiful Paper</a></p>
{% endblock %}
