<!DOCTYPE html>
<html lang="en">
    <head>
        {% block starthead %}{% endblock starthead %}
        <meta charset="">

        <title>Do what you love</title>
        <meta name="description" content="I specialize in creative, individualized wish-I'd-thought-of-that design solutions for creative entreprenuers who are ready to share their passion with the world.">
        <meta name="viewport" content="initial-scale=1">

        {% block favicons %}
        <link rel="shortcut icon" href="/media/favicon.ico">
        {% endblock favicons %}

        {% block css %}
        <link rel="stylesheet" href="/media/css/bootstrap.min.css">
        <link rel="stylesheet" href="/media/css/font-awesome.css">
        <link rel="stylesheet" href="/media/css/main.css">
        {% endblock css %}

        {% block headjs %}
        <script type="text/javascript" src="//use.typekit.net/miw4xkh.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        {% endblock headjs %}

        {% block analytics %}
        {% include "analytics.j2" %}
        {% endblock analytics %}

        {% block endhead %}{% endblock endhead %}
    </head>
    <body>
        {% block content %}
        <div class="container">
            {% block container %}
            <div id="main" role="main">
                <header>
                    {% block nav %}
                    {% if resource.meta.category == 'weddings' %}
                    {% include "nav-weddings.j2" %}
                    {% else %}
                    {% include "nav-main.j2" %}
                    {% endif %}
                    {% endblock %}
                </header>
                <section class="content">
                    {% block main %}
                    {% endblock main %}
                </section>
                {% block footer %}
                <footer>
                    <ul class="bottom-menu">
                        <li>Site Design by One & Only</li>
                        <li><a href="mailto:alison@oneandonly.im">alison@oneandonly.im</a></li>
                        <li class="menu-social"><a href="https://twitter.com/thealisoncitron" title="Twitter" class="icon-twitter" target="_blank"></a></li>
                        <li class="menu-social"><a href="http://instagram.com/thealisoncitron" title="Instagram" class="icon-camera" target="_blank"></a></li>
                        <li class="menu-social"><a href="http://pinterest.com/thealisoncitron" title="Pinterest" class="icon-pinterest" target="_blank"></a></li>
                    </ul>
                </footer>
                {% endblock footer%}
            </div>
            {% endblock container %}
        </div> <!--! end of #container -->
        {% endblock content%}
        {% block js %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.js"></script>
        <script type="text/javascript" src="/media/js/main.js"></script>
        {% block scripts %}
        {% endblock scripts %}

        {% endblock js %}
    </body>
</html>
