<div class="top-menu row">
    <div class="span4">
        <ul class="top-menu-left">
            <li><a href="/">Business</a></li>
            <li><a href="/gettingmarried/pricing">Work with me</a></li>
        </ul>
    </div>
    <div class="span4">
        <div class="logo">
            <a href="/gettingmarried"><img src="/media/img/oneandonlylogo.png"></a>
            <a class="logo-category" href="/gettingmarried">weddings</a>
        </div>
    </div>
    <div class="span4">
        <ul class="top-menu-right">
            <li><a href="/gettingmarried/stationery">Work</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/gettingmarried/contact">About</a></li>
        </ul>
    </div>
</div>

