{% extends "base.j2" %}
{% block main %}
<div class="row">
    <div class="span2">
        <ul id="portfolio-nav" class="unstyled">
            <li><a href="/work/alico">ALICO</a></li>
            <li><a href="/work/foundationmed">FoundationMed</a></li>
            <li><a href="/work/2011-annual-report">2011 Annual Report</a></li>
            <li><a href="/work/cch-collection">CCH Collection</a></li>
            <li><a href="/work/composters">Composters</a></li>
            <li><a href="/work/2012-ar">2012 AR</a></li>
            <li><a href="/work/lia">Lia</a></li>
            <li><a href="/work/walking-tour">Walking Tour</a></li>
            <li><a href="/work/mrs-citrons-pantry">Mrs Citrons Pantry</a></li>
            <li><a href="/work/testerfy">Testerfy</a></li>
            <li><a href="/work/2012-cap">2012 CAP</a></li>
            <li><a href="/work/platypus">Platypus</a></li>
            <li><a href="/work/savethedate">savethedate</a></li>
            <li><a href="/work/silhouette">silhouette</a></li>
            <li><a href="/work/gabrielle-bachelorette">Gabrielle Bachelorette</a></li>
            <li><a href="/work/graduation">Graduation</a></li>
            <li><a href="/work/kellsie+jason">Kellsie&Jason</a></li>
            <li><a href="/work/place-cards">Place Cards</a></li>
            <li><a href="/work/babyfiefs">BabyFiefs</a></li>
            <li><a href="/work/silver-invitations">Silver Invitations</a></li>
            <li><a href="/work/vanessa">Vanessa</a></li>
            <li><a href="/work/ottersen">Ottersen</a></li>
            <li><a href="/work/watercolor">Watercolor</a></li>
            <li><a href="/work/justine+jake">Justine&Jake</a></li>
        </ul>
    </div>
    <div class="span9">

        <div id="myCarousel" class="carousel slide" data-interval="false">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% block carousel %}{% endblock %}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

        {% block description %}{% endblock %}

    </div>
</div>
{% endblock %}
