{% extends "base.j2" %}
{% block main %}
<div class="row">
    <div class="span2">
        <ul id="portfolio-nav" class="unstyled">
            {% for project in projects %}
            <li><a href="{{ project }}">{{ project }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span9">

        <div id="myCarousel" class="carousel slide" data-interval="false">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for image in images %}
                <div class="item{% if loop.first %} active {% endif %}"><img src="{{ image }}"></div>
                {% endfor %}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

        {% block description %}{% endblock %}

    </div>
</div>
{% endblock %}
