{% extends "base.j2" %}
{% block main %}
<div class="row">
    <div class="span2">
        <ul id="portfolio-nav" class="unstyled">
            {% for project in projects %}
            <li><a href="{{ project['src'] }}">{{ project['name'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span9">

        <div id="myCarousel" class="carousel slide" data-interval="false">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for image in images %}
                <div class="item{% if loop.first %} active {% endif %}"><img src="{{ image }}"></div>
                {% endfor %}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

        {% if description != None %}
        {{ description }}
        {% endif %}

        {% if resource.meta.category == 'weddings' %}
        <p>
            <a href="http://www.alisoncitron.com/blog/category/portfolio-2/stationery-portfolio-2/">Like what you see? See more of my stationery design here.</a>
        </p>
        {% endif %}

    </div>
</div>
{% endblock %}
