---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/justine+jake/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/justine+jake/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/justine+jake/02.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/justine+jake/03.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/justine+jake/04.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/justine+jake/05.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Justine &amp; Jake</h4>
<p>Justine and Jake contacted me earlier this year about doing a custom watercolor invitation for them. Individually hand painted invitations proved to be a bit out of their budget, so we came up with a solution that I believe captures the spirit of what they originally wanted. I made several different watercolor paintings for them, and we finally landed on this yellow texture, which I scanned into the computer. I overlaid a fern pattern, and kept the type classic, but with a few special details. After having the invitations digitally printed on a slightly glossy paper, we paired them with dove grey envelopes. Justine (and Jake!) was an absolute delight to work with, and while I'm pleased with how this project came together, more importantly so were they.</p>
{% endblock %}
