---
extends: invitations.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('invitations/watercolor/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/watercolor/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/watercolor/02.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/watercolor/03.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/watercolor/04.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/watercolor/05.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Watercolor Wedding Invitations</h4>
<p>Abstract watercolor paired with modern type. You can find out more about this set <a href="https://www.etsy.com/listing/100565151/waterlily-invitation-suite">here</a>.</p>
{% endblock %}
