---
extends: base.j2
title: ???
description: ???
---

{% block content %}

<div class="container">
    <div id="main" role="main">
        <header>
            {% block nav %}{{ super() }}{% endblock %}
        </header>
    </div>
</div>

<div class="row">
    <img src="//placekitten.com/1170/700" style="width: 100%; margin-bottom: 30px;">
</div>

<div class="container">
    <div class="row">
        <p class="offset3 span9">
        <span style="font-style: italic; font-weight: 600;">So you’re getting married- how awesome!</span> As a bride (or groom) you have a lot on your plate, so let me check something off your to-do list by taking care of the perfectly customized, carefully crafted invitations. They'll stand out from the crowd, and give your guests the first peek into your special day. I like to make it as easy as possible for my couples - you give me your ideas, your budget, and your timeline - and I do the rest, checking in along the way.
        </p>
    </div>
    <div class="row">
        <p class="offset1 span11" style="text-align: right; font-style: italic; font-weight: 600; font-size: 1.2em;">
            <a href="/work/watercolor" style="color: #68665D;">Check out the solutions I’ve made for other couples</a> | <a href="#" style="color: #68665D;" class="survey-link" data-survey="wedding">Or let’s get started!</a>
        </p>
    </div>
</div>

{% block footer %}{{ super() }}{% endblock %}

{% endblock %}
