---
extends: base.j2
title: gettingmarried
description: ???
---

{% block content %}

<div class="container">
    <div id="main" role="main">
        <header>
            {% block nav %}{{ super() }}{% endblock %}
        </header>
    </div>
</div>

<div class="mobile-full-width" style="position: relative;">
    <div class="row" style="position: absolute; bottom: 50%; left: 8%;">
        <h1 class="blue-text">Here Comes</h1>
        <h1 class="offset1 span11 blue-text">The Bride...</h1>
    </div>
    <div style="width: 100%; margin: 0 auto 30px; display: block;">
        <img src="{{ media_url('img/weddinghome.jpg') }}" style="min-width: 921px;">
    </div>
    <div class="row" style="position: absolute; bottom: 6%; margin: 0 20px;">
        <p class="offset2 span10 blue-text">
        <span style="font-style: italic;">So you’re getting married- how awesome!</span>
        As a bride (or groom) you have a lot on your plate, so let us help you by making perfectly customized, carefully crafted invitations that give your guests the first peek into your special day. I like to make it as easy as possible for my couples - you give me your ideas, your budget, and your timeline - and I do the rest, checking in along the way.
        </p>
        <p class="offset2 span10 blue-text action-items" style="margin-top: -15px;">
            <a href="/work/watercolor">Check out the solutions I’ve made for other couples</a> | <a href="#" class="survey-link" data-survey="wedding">Or click here to get an estimate.</a>
        </p>
    </div>
</div>

{% block footer %}{{ super() }}{% endblock %}

{% endblock %}
