---
extends: invitations.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('invitations/babyfiefs/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/babyfiefs/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/babyfiefs/02.jpg') }}"></div>
<div class="item"><img src="{{ media_url('invitations/babyfiefs/03.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Baby Shower Invitation</h4>
<p>A baby shower invitation for a little boy! I kept it long and
type heavy, with the addition of an illustrated lion.</p>
{% endblock %}
