---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/cch-collection/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/cch-collection/01.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>CCH Collection</h4>
<p>A clothing collection based out of New York. Her website and logo needed a bold modern look that complemented her designs, so we went with a limited color palette, and strong typographic elements. </p>
{% endblock %}
