---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/vanessa/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/vanessa/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/vanessa/02.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Vanessa &amp; Benjamin</h4>
<p>When Vanessa contacted me to do individual water color pieces for her wedding invitations, I thought she wanted the whole shebang, both painting and design. She clarified that they were actually going to just set type that their letterpress printer already had on hand, and all she needed from me was watercolor paintings. It was such a fun project. I loved the challenge of making all of the pieces similar, but still playing around with color variation. The most exciting part, however, was when Vanessa was kind enough to send me back a finished piece. The type arrangement works with the watercolor beautifully, and was perfect for their beachfront wedding.</p>
{% endblock %}
