---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/2012-ar/00.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-ar/01.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-ar/02.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-ar/03.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-ar/04.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-ar/05.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-ar/06.png') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/2012-ar/07.png') }}"></div>
{% endblock %}

{% block description %}
<h4>2012 Annual Report</h4>
<p>One of three documents I designed for the North Carolina State University Sustainability Office.  An update of the 2011 Annual report, while still visually relating to that document. </p>
{% endblock %}
