---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/savethedate/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/savethedate/01.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>Save The Date</h4>
<p>Clean lines and bright colors pop off of a kraft backdrop in this save the date. Paired with gravel envelopes. You can purchase this invitation set <a href="https://www.etsy.com/listing/100563398/austral-save-the-date?ref=v1_other_2">here</a>.</p>
{% endblock %}
