---
extends: portfolio.j2
title: ???
description: ???
---

{% block carousel %}
<div class="item active"><img src="{{ media_url('portfolio/kellsie+jason/00.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/01.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/02.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/03.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/04.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/05.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/06.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/07.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/08.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/09.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/10.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/11.jpg') }}"></div>
<div class="item"><img src="{{ media_url('portfolio/kellsie+jason/12.jpg') }}"></div>
{% endblock %}

{% block description %}
<h4>2011 Annual Report</h4>
<p>One of three documents I designed for the North Carolina State University Sustainability Office. We wanted a template that could be adapted for future documents, that set itself apart as a Sustainability Office document, but still was compliant with the NCSU brand. </p>
{% endblock %}
